db/Node_red_DB.json
[{"id":"eb0029ac.fc1e28","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"6680f347.e15a4c","type":"mqtt in","z":"eb0029ac.fc1e28","name":"MQTT_checkCredentials","topic":"commands/checkCredentials","qos":"2","datatype":"json","broker":"f34bf253.879b4","x":300,"y":120,"wires":[["4a4c6734.ddb5f8","c7f8c08d.8416b"]]},{"id":"4a4c6734.ddb5f8","type":"debug","z":"eb0029ac.fc1e28","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":430,"y":60,"wires":[]},{"id":"49b0e637.bd2d48","type":"sqlite","z":"eb0029ac.fc1e28","mydb":"b49d0b0f.885d48","sqlquery":"msg.topic","sql":"","name":"persons","x":820,"y":160,"wires":[["76c729a3.1f1a48"]]},{"id":"7bafc0b.8ac774","type":"inject","z":"eb0029ac.fc1e28","name":"CREATE","topic":"CREATE TABLE persons(id INTEGER PRIMARY KEY AUTOINCREMENT, name TEXT, walkthrough BOOLEAN)","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":560,"y":220,"wires":[["49b0e637.bd2d48"]]},{"id":"c7f8c08d.8416b","type":"function","z":"eb0029ac.fc1e28","name":"checkCredentials","func":"msg.topic = \"SELECT name FROM persons where name='\"+msg.payload[\"name\"]+\"'\";\nreturn msg;","outputs":1,"noerr":0,"x":590,"y":120,"wires":[["9fca7542.8cda98","49b0e637.bd2d48"]]},{"id":"9d868e92.160f2","type":"inject","z":"eb0029ac.fc1e28","name":"INSERT","topic":"INSERT INTO persons (name,walkthrough) VALUES ( \"John Snow\", false)","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":560,"y":260,"wires":[["49b0e637.bd2d48"]]},{"id":"7830c288.9b4ffc","type":"inject","z":"eb0029ac.fc1e28","name":"DROP","topic":"DROP TABLE persons","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":550,"y":300,"wires":[["49b0e637.bd2d48"]]},{"id":"9fca7542.8cda98","type":"debug","z":"eb0029ac.fc1e28","name":"query","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":790,"y":60,"wires":[]},{"id":"76c729a3.1f1a48","type":"function","z":"eb0029ac.fc1e28","name":"sendResponse","func":"//msg.payload = msg.payload[0][\"name\"]\nmsg.payload = msg.payload[0];\nif (typeof msg.payload == \"undefined\"){\n    msg.payload =  {\"status\":\"False\"};\n} else {\n    msg.payload = {\"status\":\"True\"};\n}\nreturn msg;","outputs":1,"noerr":0,"x":1040,"y":160,"wires":[["fe9645ff.585cc8","1a5db3e9.a131ec"]]},{"id":"fe9645ff.585cc8","type":"debug","z":"eb0029ac.fc1e28","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1150,"y":60,"wires":[]},{"id":"1a5db3e9.a131ec","type":"mqtt out","z":"eb0029ac.fc1e28","name":"MQTT_publish","topic":"results/checkCredentials","qos":"","retain":"","broker":"f34bf253.879b4","x":1280,"y":160,"wires":[]},{"id":"cedb7489.b58bd8","type":"mqtt in","z":"eb0029ac.fc1e28","name":"MQTT_updateWalkthrough","topic":"update/walkthrough","qos":"2","datatype":"json","broker":"f34bf253.879b4","x":310,"y":480,"wires":[["b6c0d4b3.6ecd68","6520fb4e.8e1884"]]},{"id":"b6c0d4b3.6ecd68","type":"debug","z":"eb0029ac.fc1e28","name":"MQTT_payload","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":450,"y":420,"wires":[]},{"id":"6520fb4e.8e1884","type":"function","z":"eb0029ac.fc1e28","name":"updateBoardingStatus","func":"msg.topic = \"UPDATE persons SET walkthrough=1 WHERE name=='\"+msg.payload[\"name\"]+\"'\";\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":480,"wires":[["35dad499.f55d7c","197f843e.41627c"]]},{"id":"35dad499.f55d7c","type":"debug","z":"eb0029ac.fc1e28","name":"query","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":800,"y":420,"wires":[]},{"id":"197f843e.41627c","type":"sqlite","z":"eb0029ac.fc1e28","mydb":"b49d0b0f.885d48","sqlquery":"msg.topic","sql":"","name":"persons","x":980,"y":480,"wires":[[]]},{"id":"f34bf253.879b4","type":"mqtt-broker","z":"","name":"Local","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"b49d0b0f.885d48","type":"sqlitedb","z":"","db":"/tmp/person2s.db","mode":"RWC"}]